<main class="pb-50">
  <article class="wrap">
    <section>
      <div class="flex-row">
        <div class="col-12 mt-0">
          <h2 class="title title-bold pl-10">
            <img src="./assets/images/icon/ico_cog.svg" alt="" />
            <span>{{ "reservationHome.title" | translate }}</span>
          </h2>
        </div>
        <div class="col-12">
          <div class="white-box pt-5 pb-20 radius-none">
            <div class="white-box--links">
              <ul>
                <li><a routerLink="/reservation-setting/step-1">{{ "reservationHome.step-1" | translate }}</a></li>
                <li><a routerLink="/reservation-setting/step-2">{{ "reservationHome.step-2" | translate }}</a></li>
                <li><a routerLink="/reservation-setting/step-3">{{ "reservationHome.step-3" | translate }}</a></li>
                <li><a routerLink="/reservation-setting/step-4">{{ "reservationHome.step-4" | translate }}</a></li>
                <li><a routerLink="/reservation-setting/step-5">{{ "reservationHome.step-5" | translate }}</a></li>
                <li><a routerLink="/reservation-setting/step-6">{{ "reservationHome.step-6" | translate }}</a></li>
                <li><a routerLink="/reservation-setting/step-7">{{ "reservationHome.step-7" | translate }}</a></li>
                <li><a routerLink="/reservation-setting/step-8">{{ "reservationHome.step-8" | translate }}</a></li>
                <li><a routerLink="/reservation-setting/step-9">{{ "reservationHome.step-9" | translate }}</a></li>
                <li><a
                    routerLink="/reservations/input-item-setting">{{ "reservationHome.conversionSettings" | translate }}</a>
                </li>
                <li><a routerLink="/shops/conversion-settings">{{ "reservationHome.input" | translate }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
