<main class="pb-50">
  <article class="wrap">
    <section>
      <div class="flex-row">
        <div class="col-12 mt-0">
          <h2 class="title title-bold pl-10">
            <img src="./assets/images/icon/ico_cog.svg" alt=""/>
            <span>{{'analytic.header' | translate}}</span>
          </h2>
        </div>
        <div class="col-12">
          <div class="white-box pt-5 pb-20 radius-none">
            <div class="white-box--links">
              <ul>
                <li><a routerLink="/analytics/sales-total">{{'analytic.menu01' | translate}}</a></li>
                <li><a routerLink="/analytics/sales-trend">{{'analytic.menu02' | translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>

