.select-error {
  border: 1px solid #ff648c;
  background: #ffecf1;
}
.radio {
  display: inline;
  padding-right: 10px;
}

.radio-group {
  margin-top: 5px !important;
  margin-left: 5px !important;
}
