.plus .plus-button {
  border: 2px solid #ff648c;
  background-color: #ff648c;
  font-size: 15px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.plus {
  margin-top: 25px;
}

.plus .plus-button:before {
  height: 1em;
  width: 0.15em;
}

.plus .plus-button:after {
  height: 0.15em;
  width: 1em;
}

.plus .plus-button:after, .plus .plus-button:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-modal__header {
  position: relative;
  padding: 18px 15px;

}

.create-modal__header--modal {
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 15px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg) translateY(-50%);
  cursor: pointer;

  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  &::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background-color: #fff;
  }
}
