.filtered-search-screen-1 {
    .group {
      display: flex;
      flex-wrap: nowrap;
      .input-group {
        width: 100%;
        display: flex;
      }
      label {
        padding: 10px 5px;
      }
    }
  
    .group-date {
      display: flex;
      flex-wrap: nowrap;
      label {
        padding: 10px 5px;
      }
      .input-group {
        position: relative;
        padding-top: 0px !important;
        input {
          width: 100%;
          &.input-date-setting {
            width: 100% !important;
          }
        }
        .select-setting {
          width: 100%;
        }
      }
    }
  
    .group-radio {
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
      margin-top: 10px;
      &.col {
        flex-direction: column;
        .input-group-radio {
          margin-top: 10px !important;
        }
        .input-group-radio:nth-child(1) {
          margin-top: 0px !important;
        }
      }
      .input-group-radio {
        input {
          padding-top: 0px;
        }
        label {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  
    .group-span {
      display: flex;
      flex-wrap: wrap;
      span {
        margin-right: 5px;
        margin-top: 5px;
      }
    }
  
    .search-header-btn {
      display: flex;
      justify-content: flex-end;
      padding: 0px 20px;
    }
    .search-body {
      padding: 10px 10px 0px 10px;
      .item-group {
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        .left {
          vertical-align: baseline;
          text-align: center;
          width: 65px;
          min-width: 65px;
          padding: 15px 5px 15px 0px;
          margin-right:10px;
          @media only screen and (max-width: 767px){
            margin-right:5px;
          }
        }
  
        .right {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          width: 100%;
          .input-group {
            padding-top: 0px;
            input {
              width: 100%;
            }
          }
          .group-date {
            display: flex;
            flex-wrap: nowrap;
            label {
              padding: 10px 5px;
            }
            .input-group {
              position: relative;
              padding-top: 0px !important;
              input {
                width: 100%;
              }
            }
          }
  
          .group-line-delete {
            display: flex;
            text-align: center;
            justify-content: space-between;
            margin-top: 10px;
            padding: 6px 20px;
          }
  
          .btn-row {
            background: #ff648c;
            em {
              color: #fff;
            }
            span:before {
              background: #fff;
            }
            span:after {
              background: #fff;
            }
          }
        }
      }
    }
  
    .cus-searh-footer {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      &.cus-searh-footer-screen-1 {
        grid-template-columns: 100%;
      }
      .bt:nth-child(1) {
        background-color: #fff;
      }
      .bt:nth-child(2) {
        color: #fff;
        background-color: #ff648c;
      }
    }
  }
  input[type="radio"]:before {
    background-color: #ff648c;
  }
  
  .mt-10  {
    margin: 20px;
  }
  .radio-group {
    margin-top: 0;
  }
  @media only screen and (max-width: 767px){
   .input-date{
    width : 35vw !important;
    font-size: 1.1rem !important;
  }
  .radio {
    &-group {
      margin-top: 0;
      margin-left: 0;
    }
  }
  .spec_class{
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  .spec_label{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
  }

}
.radio {
  &-group {
    margin-top: 0;
    margin-left: 0;
  }
}
.mb--10{
  margin-bottom: -10px;
}
.mt-2{
  margin-top: 2px;
}