.filtered-search-screen-2 {
    .group {
      display: flex;
      flex-wrap: nowrap;
      .input-group {
        width: 100%;
        display: flex;
      }
      label {
        padding: 10px 5px;
      }
    }
  
    .group-date {
      display: flex;
      flex-wrap: nowrap;
      label {
        padding: 10px 5px;
      }
      .input-group {
        position: relative;
        padding-top: 0px !important;
        input {
          width: 100%;
          &.input-date-setting {
            width: 100% !important;
          }
        }
        .select-setting {
          width: 100%;
        }
      }
    }
  
    .group-radio {
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
      margin-top: 10px;
      &.col {
        flex-direction: column;
        .input-group-radio {
          margin-top: 10px !important;
        }
        .input-group-radio:nth-child(1) {
          margin-top: 0px !important;
        }
      }
      .input-group-radio {
        input {
          padding-top: 0px;
        }
        label {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  
    .group-span {
      display: flex;
      flex-wrap: wrap;
      span {
        margin-right: 5px;
        margin-top: 5px;
      }
    }
    .title {
      a {
        &.title-a {
          background-image: none !important;
        }
      }
    }
  
    .content-list {
      .table-main {
        overflow-x: auto;
        width: 100%;
        table {
          width: 100%;
          tr {
            border: 1px solid black;
            td {
              white-space: nowrap;
              padding: 0px 10px;
              height: 35px;
              border-right: 1px solid black;
              vertical-align: middle;
              img {
                width: 50px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
              }
            }
          }
        }
      }
      .content-footer {
        margin-top: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
      }
    }
  
    .cus-searh-footer {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      &.cus-searh-footer-screen-1 {
        grid-template-columns: 100%;
      }
      .bt {
        background-color: #fff;
      }
    }
  
    @media screen and (max-width: 736px) {
        table {
            font-size: 1.2rem;
        }
    }
  }
  