.background-calendar {
  background-color: #ffffff;
  display: block;
}

.date-move__next::before {
  content: none;
}

.table-month-title-right {
  cursor: pointer;
  right: 20px;
  background-image: none;

  span {
    width: auto;
    display: inline-block;
    padding-left: 0;
    font-size: 3rem;
    vertical-align: middle;
    padding-right: 0;
  }
}

.wrap-item .white-box:first-child {
  margin-top: 0 !important;
}

.white-box a {
  cursor: pointer;
}
