<main class="pb-50">
  <article class="wrap">
    <section>
      <div class="flex-row">
        <div class="col-12 mt-0">
          <h2 class="title title-bold pl-10">
            <span>
              {{ "payment.titlePayment" | translate }}
            </span>
          </h2>
        </div>
        <div class="col-12">
          <div class="pl-0 pr-0">
            <div class="add-button mt-0">
              <button (click)="openModal('create')">
                <span></span>
                <em>
                  {{ "payment.btnRegister" | translate }}
                </em>
              </button>
            </div>
          </div>
          <div class="list mt-30">
            <div class="list__header" style="position: sticky;" id="btn-toggle-bigList" >
              {{ "payment.listPayment" | translate }}
            </div>
            <div class="list__body list02 arrow toggle"  id="toggle-bigList" cdkDropList (cdkDropListDropped)="drop($event)">
              <ul
                class="tech-list"
              >
                <li
                  *ngFor="let pl of listPayments"
                  class="tech-box" cdkDragLockAxis="y"
                  cdkDragBoundary=".list__body" cdkDrag
                >
                  <div class="tech-box__item1">
                    <div class="tech-box__item1-1">
                      <p class="tech-box__content">
                        <span *ngIf="pl.name != default" class="edit" (click)="selectedRow(pl)">
                          {{ "common.edit" | translate }}
                        </span>
                        <span *ngIf="pl.name == default" class="edit">
                        </span>
                        <span class="txt">{{ pl.name }}</span>
                      </p>
                    </div>
                  </div>
                  <div class="ico tech-box__item2" cdkDragHandle>
                    <span class="ico__item1"></span>
                    <span class="ico__item2"></span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>

<app-payment-create-modal
  [open]="open"
  [selectCurrent]="selectCurrent"
  (confirm)="closeModal($event)"
></app-payment-create-modal>
