<main class="pb-50">
  <article class="wrap">
    <section>
      <div class="flex-row">
        <div class="col-12 mt-0">
          <h2 class="title title-bold pl-10">
            <span>{{ "coupon.titleList" | translate }}</span>
          </h2>
        </div>
        <div class="col-12">
          <div class="pl-0 pr-0">
            <div class="add-button mt-0">
              <button (click)="openModal('create')">
                <span></span>
                <em>{{ "coupon.btnCreate" | translate }}</em>
              </button>
            </div>
          </div>

          <div class="list mt-30">
            <div class="list__header" style="position: sticky" id="btn-toggle-bigList">
              <!-- (click)="toggleBigList()" -->
              {{ "coupon.titleList" | translate }}
              <!-- <span class="dropdown-bigicon"></span> -->
            </div>
            <div class="list__body list02 arrow toggle" id="toggle-bigList">
              <ul class="tech-list" cdkDropList (cdkDropListDropped)="drop($event)">
                <li *ngFor="let coupon of coupons" cdkDragLockAxis="y" cdkDragBoundary=".tech-list" cdkDrag
                    class="tech-box">
                  <div class="tech-box__item1" style="justify-content: unset; display: flex !important;">
                    <div class="tech-box__item1-1">
                      <p class="tech-box__content">
                        <span class="edit" (click)="selectedRow(coupon)">
                          {{ "common.edit" | translate }}
                        </span>
                        <span class="txt">{{ coupon.name }}</span>
                        <input type="hidden" value="{{ coupon.sort }}"/>
                      </p>
                    </div>
                  </div>
                  <div class="ico tech-box__item2" cdkDragHandle>
                    <span class="ico__item1"></span>
                    <span class="ico__item2"></span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>

<app-coupon-modal *ngIf="isOpen" [open]="isOpen" (confirm)="closeModal($event)" [coupon]="selectCurrent"></app-coupon-modal>

