<div class="single calendar">
  <table id="showDate" #showDate>
    <thead>
    <tr class="tr">
      <td class="cn">{{ "calendar.sunday" | translate }}</td>
      <td>{{ "calendar.monday" | translate }}</td>
      <td>{{ "calendar.tuesday" | translate }}</td>
      <td>{{ "calendar.wednesday" | translate }}</td>
      <td>{{ "calendar.thursday" | translate }}</td>
      <td>{{ "calendar.friday" | translate }}</td>
      <td class="t7">{{ "calendar.saturday" | translate }}</td>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
