.coupon-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  line-height: 40px;
  div:nth-child(3) {
    width: 50% !important;
  }
  div {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    .single-coupon {
      padding-left: 10px !important;
      .input-text {
        width: 100%;
        margin-top: 0px;
      }
    }
  }
}

.fw-bold {
  font-weight: 600;
}

.title {
  align-items: center;
  position: relative;
  &--type02 {
    span {
      padding-left: 0;
      width: 100%;
      padding-right: 130px;
    }
  }
}
