.input-error {
  border: 1px solid #ff648c !important;
}
textarea:focus {
  outline: unset !important;
}
textarea{
  font-size: 15px;
  font-size: 1.5rem;
}
.col-12, .col-8 {
  padding: 0 !important;
}
