<main class="pb-50">
  <article class="wrap">
    <section>
      <div class="flex-row">
        <div class="col-12 mt-0">
          <h2 class="title title-bold pl-10">
            <img src="./assets/images/icon/ico_cog.svg" alt="" />
            <span>{{ "menu.0001" | translate }} </span>
          </h2>
        </div>
        <div class="col-12">
          <div class="white-box pt-5 pb-20 radius-none">
            <div class="white-box--links">
              <h3 class="mb-5">{{ "menu.0002" | translate }}</h3>
              <ul>
                <li>
                  <a routerLink="/companies" routerLinkActive="active">
                    {{ "menu.0003" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/shops" routerLinkActive="active">
                    {{ "menu.0004" | translate }}
                  </a>
                </li>
                <!-- <li>
                  <a href="#">
                    {{ "menu.0005" | translate }}
                  </a>
                </li> -->
              </ul>
              <h3 class="mb-5">
                {{ "menu.0006" | translate }}
              </h3>
              <ul>
                <li>
                  <a routerLink="/shops/customer-info">{{ "menu.0007" | translate }} </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a routerLink="/shops/free-item">{{ "menu.0029" | translate }} </a>
                </li>
              </ul>
              <h3 cl ass="mb-5">
                {{ "menu.0008" | translate }}
              </h3>
              <ul>
                <li>
                  <a routerLink="/add-staff" routerLinkActive="active">
                    {{ "menu.0009" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/shops/basic-shift" routerLinkActive="active">
                    {{ "menu.0010" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/staff/staff-shift-registration">
                    {{ "menu.0011" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/staff/menu-cooperation-staff" routerLinkActive="active">
                    {{ "menu.0012" | translate }}
                  </a>
                </li>
              </ul>
              <h3 class="mb-5">{{ "menu.0013" | translate }}</h3>
              <ul>
                <!-- <li>
                  <a href="#">
                    {{ "menu.0014" | translate }}
                  </a>
                </li> -->
                <li>
                  <a routerLink="/equipments">
                    {{ "menu.0015" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/equipments/menu-equipments">
                    {{ "menu.0016" | translate }}
                  </a>
                </li>
              </ul>
              <h3 class="mb-5">{{ "menu.0017" | translate }}</h3>
              <ul>
                <li>
                  <a routerLink="/skills/skill-classes" routerLinkActive="active">
                    {{ "menu.0018" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/skills" routerLinkActive="active">
                    {{ "menu.0019" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/items/item-classes" routerLinkActive="active">
                    {{ "menu.0020" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/items" routerLinkActive="active">
                    {{ "menu.0021" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/courses/course-classes">
                    {{ "menu.0022" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/courses" routerLinkActive="active">
                    {{ "menu.0023" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/coupons" routerLinkActive="active">{{ "menu.0024" | translate }}</a>
                </li>
                <li>
                  <a routerLink="/set-menus" routerLinkActive="active">{{ "menu.0025" | translate }}</a>
                </li>
                <li>
                  <a routerLink="/shops/discount" routerLinkActive="active">
                    {{ "menu.0026" | translate }}
                  </a>
                </li>
                <li>
                  <a routerLink="/shops/payment" routerLinkActive="active">
                    {{ "menu.0027" | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
